@using Dragonfly.NetHelpers
@using Dragonfly.NetModels
@using Dragonfly.Umbraco9DeployTools
@using Dragonfly.Umbraco9DeployTools.Models;
@using Dragonfly.UmbracoHelpers
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Core.Services.Implement
@using Umbraco.Extensions
@inject  ServiceContext Services;

@model ComparisonResults
@*
	Expected View Data:
	-------------------
	StandardInfo (object - StandardViewInfo)		: Version, Current environment, etc.
	Status (object - StatusMessage)					: Status of operations
	UpdatedSince (DateTime)							: Only show items which have an update date after... (UTC datetime!)

*@
@{
	var paramStandardInfo = Mvc.GetSafeViewData(ViewData, "StandardInfo", new StandardViewInfo()) as StandardViewInfo;
	var paramStatus = Mvc.GetSafeViewData(ViewData, "Status", new StatusMessage()) as StatusMessage;
	var paramUpdatedSince = Mvc.GetSafeViewData(ViewData, "UpdatedSince");

	var dateUpdatedSince = paramUpdatedSince != null ? Convert.ToDateTime(paramUpdatedSince) : default(DateTime);
	var hasUpdatedDate = dateUpdatedSince != default(DateTime);

	var results = Model;
}

<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/App_Plugins/Dragonfly.DeployTools/styles.css" rel="stylesheet" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

	<style>
		.compare-icon.text-warning {
			color: #f9c36b;
		}

		.compare-icon.text-success {
			color: green;
		}
	</style>
	@*<!--<script src="/scripts/snippet-javascript-console.min.js?v=1"></script>-->*@
</head>
<body>
	<div class="container-full" style="margin: 0 10px;">

		<h1>Comparing Content <small>v. @paramStandardInfo.CurrentToolVersion</small></h1>

	@if (paramStatus != null && (paramStatus.HasAnyExceptions() || paramStatus.HasAnyFailures()))
		{
			<h2>Status</h2>
			@try
			{
				Html.RenderPartial("/App_Plugins/Dragonfly.DeployTools/RazorViews/DataFormats/RenderStatusMessage.cshtml", paramStatus);
			}
			catch (Exception e)
			{
				<span>Unable to render Status : @e.Message</span>
			}

		}

		@if (results != null)
		{
			var syncDateUrl = $"/umbraco/backoffice/Dragonfly/DeployTools/SetContentSyncDate?EnvironmentType={results.RemoteEnvironment.Type}";
			var remoteNotLocal = results.ContentRemoteNotLocal.ToList();
			var localNotRemote = results.ContentLocalNotRemote.ToList();
			var differentNodes = GetDifferentNodesList(results.ContentMatchingNodes, dateUpdatedSince).ToList();

			<h5>Current Environment = @results.LocalEnvironment.Name (@results.LocalDataFileInfo.GetReadableTimestamp(true)) [Version @Model.LocalDataFileInfo.GeneratorVersion.ToString()]</h5>
			<h5>Remote Environment = @results.RemoteEnvironment.Name (@results.RemoteDataFileInfo.GetReadableTimestamp(true)) [Version @Model.RemoteDataFileInfo.GeneratorVersion.ToString()]</h5>

        <div style="width:900px;">
        <ul class="nav  nav-justified">
                <li><a href="#RemoteNotLocal">Remote - Not Local <span class="badge">@remoteNotLocal.Count</span></a></li>
                <li><a href="#LocalNotRemote">Local - Not Remote <span class="badge">@localNotRemote.Count</span></a></li>
                <li><a href="#Different">Different Between Environments <span class="badge">@differentNodes.Count</span></a></li>
			</ul>
        </div>
			<h2 id="RemoteNotLocal">Remote - Not Local <br /></h2>
			<p><small>[Consider Restoring these]</small></p>
			<p>Total Nodes: @remoteNotLocal.Count</p>

			@if (remoteNotLocal.Any())
			{
				RenderMissingFromEnvironmentNodesTable(remoteNotLocal, Model.RemoteEnvironment, true);
			}

			<h2 id="LocalNotRemote">Local - Not Remote <br /></h2>
			<p><small>[Consider Transferring these]</small></p>
			<p>Total Nodes: @localNotRemote.Count</p>

			@if (localNotRemote.Any())
			{
				RenderMissingFromEnvironmentNodesTable(localNotRemote, Model.LocalEnvironment, false);
			}

			<h2 id="Different">Different Between Environments</h2>
			@if (hasUpdatedDate)
			{
				var reRunUrl = $"/umbraco/backoffice/Dragonfly/DeployTools/CompareContent?EnvironmentType={results.RemoteEnvironment.Type}";
        <p>
            Only showing content updated on either Environment since: <b>@dateUpdatedSince.GetReadableUtcTimestamp(true)</b>  [@dateUpdatedSince.GetReadableUtcTimestamp(false)]<br />
            <a style="margin: 2px 0;" class="btn btn-xs btn-info" href="@reRunUrl" target="_blank">Re-run Comparison showing all nodes regardless of Last Edited Date</a>
        </p>
			}
			<p>Different Nodes: @differentNodes.Count</p>

			@if (differentNodes.Any())
			{
				RenderNodeDifferencesTable(differentNodes);
			}

			<div class="well">
				<h3>Is Everything Synchronized to Your Satisfaction?</h3>
				<p>By updating the Sync Date for the current environment (@Model.RemoteEnvironment.Name) to the current date, you can later filter the Comparison results to show items which have only changed since then.</p>
				<a class="btn btn-lg btn-success" href="@syncDateUrl" target="_blank">Update Sync Date</a>
			</div>
		}

	</div>

</body>
</html>

@functions {

	private void RenderNodeDifferencesTable(IEnumerable<NodeItemMatches> DifferentNodes)
	{
		var tableId = $"umbracodata_Differences";
		var counter = 0;

		<table id="@tableId" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" style="width:100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Actions</th>
					<th>DocType</th>
					<th>Parent Node</th>
					<th>Local Name</th>
					<th>Number of Differences</th>
					<th>Compare Summary</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var node in DifferentNodes)
				{
					var localContentNode = node.LocalNode as ContentNodeDataItem;
					var allComparisonResultsTypes = node.Comparisons.Select(n => n.Result).Distinct().ToList();
					counter++;

					<tr>
						<td>@counter</td>

						@* //Actions*@
						<td>
							@try
							{
								Html.RenderPartial("/App_Plugins/Dragonfly.DeployTools/RazorViews/DataFormats/NodeActions.cshtml", node.LocalNode, new ViewDataDictionary(ViewData)
				{
				{"EnvironmentForLink",Model.LocalEnvironment},
				{"NodeType","Content"}
				});
							}
							catch (Exception e)
							{
								<span>Error on Node # @node.LocalNode.NodeId : @e.Message</span>
							}
							@*&nbsp;|&nbsp;*@
							@try
							{
								Html.RenderPartial("/App_Plugins/Dragonfly.DeployTools/RazorViews/DataFormats/NodeActions.cshtml", node.RemoteNode, new ViewDataDictionary(ViewData)
				{
				{"EnvironmentForLink",Model.RemoteEnvironment},
				{"NodeType","Content"}
				});
							}
							catch (Exception e)
							{
								<span>Error on Node # @node.RemoteNode.NodeId : @e.Message</span>
							}
						</td>

						@* //Node UDI
							<td><small>@node.LocalNode.NodeUdi</small></td>*@

						@* //DocType*@
						<td>@localContentNode.ContentTypeAlias</td>

						@* //Parent Node*@
						<td>@(localContentNode.ParentNodeInfo!=null?localContentNode.ParentNodeInfo.NodeName : "UNKNOWN")</td>

						@* //Node Name*@
						<td>@node.LocalNode.NodeName</td>

						@* //Number of Differences*@
						<td>@node.NumberOfDifferences</td>

						@*//Compare Summary*@
						<td>
							@if (allComparisonResultsTypes.Contains(ComparisonResult.Different))
							{
								<span>@ComparisonResult.Different.GetFriendlyString()</span>
								RenderComparisonResultIcon(ComparisonResult.Different);
							}
							else if (allComparisonResultsTypes.Contains(ComparisonResult.DifferentLocalPreferred)
							&& !allComparisonResultsTypes.Contains(ComparisonResult.DifferentRemotePreferred))
							{
								<span>@ComparisonResult.DifferentLocalPreferred.GetFriendlyString()</span>
								RenderComparisonResultIcon(ComparisonResult.DifferentLocalPreferred);
							}
							else if (!allComparisonResultsTypes.Contains(ComparisonResult.DifferentLocalPreferred)
							&& allComparisonResultsTypes.Contains(ComparisonResult.DifferentRemotePreferred))
							{
								<span>@ComparisonResult.DifferentRemotePreferred.GetFriendlyString()</span>
								RenderComparisonResultIcon(ComparisonResult.DifferentRemotePreferred);
							}
						</td>

						@* //Details*@
						<td>
							<table class="table table-condensed">
								<tr>
									<th>Property</th>
									<th>Comparison</th>
									<th>Local Value</th>
									<th>Remote Value</th>

								</tr>
								@foreach (var compare in node.Comparisons)
								{
									<tr>
										<td>@compare.PropertyName</td>
										<td>
											@{
												RenderComparisonResultIcon(compare.Result);
											}
										</td>
										<td><small>@compare.LocalValue</small></td>
										<td><small>@compare.RemoteValue</small></td>
									</tr>
								}

							</table>
						</td>

					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td>#</td>
					<td>Actions</td>
					<th>DocType</th>
					<th>Parent Node</th>
					<th>Local Name</th>
					<th># of Diffs</th>
					<th>Compare Summary</th>
					<td>Details</td>
				</tr>
			</tfoot>
		</table>

		RenderTableScripts(tableId);
	}

	private void RenderComparisonResultIcon(ComparisonResult ComparisonResult)
	{
		var icon = "";
		var color = "";

		switch (ComparisonResult)
		{
			case ComparisonResult.Same:
				icon = "glyphicon-ok";
				color = "success";
				break;

			case ComparisonResult.Different:
				icon = "glyphicon-exclamation-sign";
				color = "warning";
				break;

			case ComparisonResult.DifferentRemotePreferred:
				icon = "glyphicon-cloud-download";
				color = "warning";
				break;

			case ComparisonResult.DifferentLocalPreferred:
				icon = "glyphicon-cloud-upload";// "glyphicon-circle-arrow-right";
				color = "warning";
				break;

			case ComparisonResult.DifferentIrrelevant:
				icon = "glyphicon-ok";
				color = "warning";
				break;

			case ComparisonResult.Unknown:
				icon = "glyphicon-exclamation-sign";
				color = "danger";
				break;

			default:
				icon = "";
				color = "";
				break;
		}

		<span class="compare-icon text-@color">
			<span class="glyphicon @icon" aria-hidden="true" title="@ComparisonResult.GetFriendlyString()"></span>
		</span>
		<span class="sr-only">@ComparisonResult.GetFriendlyString()</span>

	}

	private void RenderMissingFromEnvironmentNodesTable(IEnumerable<ContentNodeDataItem> ContentNodeDataItems, Workspace EnvironmentWithNodes, bool IsRemote)
	{
		var envForLinks = EnvironmentWithNodes;
		var tableId = $"umbracodata_OnlyOn_{EnvironmentWithNodes.Type.MakeCodeSafe()}";
		var counter = 0;

		<table id="@tableId" class="table table-striped table-bordered table-hover table-sm" cellspacing="0" style="width:100%">
			<thead>
				<tr>
					<th>#</th>
					<th>Actions</th>
					<th>Node Name</th>
					<th>NodeID</th>
					@*<th>Node Path</th>*@
					<th>DocType</th>
					<th>Parent</th>
					<th>Level</th>
					<th>Sort Order</th>
					@*<th>Assigned Template</th>*@
					<th>Last Edited Date</th>
					<th>Edited By</th>
					<th>UDI</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var node in ContentNodeDataItems)
				{
					counter++;

					<tr>
						<td>@counter</td>

						@* //Actions*@
						<td>
							@try
							{
								Html.RenderPartial("/App_Plugins/Dragonfly.DeployTools/RazorViews/DataFormats/NodeActions.cshtml", node, new ViewDataDictionary(ViewData)
				{
				{"EnvironmentForLink",envForLinks},
				{"NodeType","Content"}
				});
								if (IsRemote)
								{
									var remoteParentGuid = node.ParentNodeInfo.NodeUdi.AsGuid();
									var localParent = Services.ContentService.GetById(remoteParentGuid);
									if (localParent != null)
									{
										var localParentUrl = $"/umbraco#/Content/Content/edit/{localParent.Id}";
										<a style="width: 110px; margin-bottom: 2px;" class="btn btn-xs btn-info" href="@localParentUrl" target="_blank">Open local Parent Node</a>
									}
								}
							}
							catch (Exception e)
							{
								<span>Error on Node # @node.NodeId : @e.Message</span>
							}
						</td>

						@* //Node Name*@
						<td>@node.NodeName</td>

						@* //Node ID*@
						<td>@node.NodeId</td>

						@* //Node Path
							<td>@node.NodePathAsText</td>*@

						@* //DocType*@
						<td>@node.ContentTypeAlias</td>

						@* //Parent*@
						<td><small>@(node.ParentNodeInfo!=null?node.ParentNodeInfo.NodeName : "UNKNOWN")</small></td>

						@* //Level*@
						<td>@node.LevelNum</td>

						@* //Sort Order*@
						<td>@node.OrderNum</td>

						@* //Template Name
							<td>@node.TemplateAlias</td>*@

						@*//Date Last Edited*@
						<td>
							@{
								Html.RenderPartial("/App_Plugins/Dragonfly.DeployTools/RazorViews/DataFormats/DateValue.cshtml", node.LastEditedDate);
							}
						</td>

						@* //Edited By *@
						<td>@node.LastEditedByUser</td>

						@* //Node UDI*@
						<td><small>@node.NodeUdi</small></td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td>#</td>
					<td>Actions</td>
					<th>Name</th>
					<th>ID</th>
					@*<th>Path</th>*@
					<th>DocType</th>
					<th>Parent</th>
					<td>Level</td>
					<td>Order</td>
					@*<th>Template</th>*@
					<th>Edited Date</th>
					<th>Edited By</th>
					<td>UDI</td>
				</tr>
			</tfoot>
		</table>

		RenderTableScripts(tableId);
	}

	private void RenderTableScripts(string TableId)
	{
		<script type="text/javascript">
			$(document).ready(function () {
				// Setup - add a text input to each footer cell
				$('#@TableId tfoot th').each( function () {
					var title = $(this).text();
					$(this).html( '<input type="text" style="font-size:10px; width:100%;" placeholder="Search '+title+'" />' );
				} );

				// DataTable
				$('#@TableId').DataTable({
					initComplete: function () {
						// Apply the search
						this.api().columns().every( function () {
							var that = this;

							$( 'input', this.footer() ).on( 'keyup change clear', function () {
								if ( that.search() !== this.value ) {
									that
										.search( this.value )
										.draw();
								}
							} );
						} );
					}
				});

			});
		</script>
	}

	private IEnumerable<NodeItemMatches> GetDifferentNodesList(IEnumerable<NodeItemMatches> Results, DateTime DateUpdatedSince)
	{
		var hasUpdatedDate = DateUpdatedSince != default(DateTime);
		var hasDiffs = Results.Where(n => n.NumberOfDifferences > 0).ToList();

		if (!hasUpdatedDate)
		{
			return hasDiffs;
		}
		else
		{
			return hasDiffs.Where(n
				=> n.LocalNode.LastEditedDate.ToUniversalTime() > DateUpdatedSince
							|| n.RemoteNode.LastEditedDate.ToUniversalTime() > DateUpdatedSince);
		}
	}

}

